<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url"
      name="avatar_url"
      placeholder="http://"
      value="{{instructor.avatar_url}}"
    >
  </div>
</div>

<div class="item">
  <div>Instructor</div>
  <div>
    <input 
      type="text"
      name="name"
      placeholder="Instructor name"
      value="{{instructor.name}}"
      >
  </div>
</div>

<div class="item">
  <div>Date of Birth</div>
  <div>
    <input 
      type="date"
      name="birth"  
      value="{{instructor.birth}}"
    >
  </div>
</div>

<div class="item">
  <div>Gender</div>
  <div>
    <span>
      <input 
          type="radio"
          name="gender"
          value="M"
          {% if instructor.gender == 'M' %} 
            checked 
          {% endif%}
        >
        Male
    </span>
    <span>
      <input 
          type="radio"
          name="gender"
          value="F"
          {% if instructor.gender == 'F' %} 
            checked 
          {% endif%}
        >
        Female
    </span>
  </div>
</div>

<div class="item">
  <div>Field</div>
  <div>
    <input 
      type="text"
      name="services"
      placeholder="Type your field(s) of work separated by comma."
      value="{{instructor.services}}"
    >
  </div>
</div>

<button type="submit">Salvar</button>